# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyc
*.pyo

# -----------------------
# Environment
# -----------------------
.env/
venv/
.venv/
*.env

# -----------------------
# OS / IDE
# -----------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# -----------------------
# Detectron2 / Pytorch outputs
# -----------------------
output/
logs/
*.pth
*.pt
checkpoints/
*.ckpt



# -----------------------
# Jupyter / Colab
# -----------------------
.ipynb_checkpoints/

